<section class="mb-4">
  <div class="flex items-center justify-between mb-4 md:mb-6">
    <h2 class="text-lg md:text-xl font-semibold text-[#1b3b2f]">Popular Products</h2>
    <a class="text-sm text-sky-600 hover:underline" routerLink="/products">See all products</a>
  </div>

  <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-6">
    <app-product-card
      *ngFor="let product of popularProducts"
      [product]="product"
      [qty]="getQty(product)"
      (add)="addToCart($event)"
      (increment)="increment($event)"
      (decrement)="decrement($event)"
    ></app-product-card>
  </div>
</section>
