<div class="grid grid-cols-12 gap-6 pt-6 min-6-screen">

  <!-- Left Sidebar -->
  <div class="col-span-12 md:col-span-3 flex flex-col gap-2">
    <app-top-brands></app-top-brands>
    <app-new-products></app-new-products>
  </div>

  <!-- Right Content -->
  <div class="col-span-12 md:col-span-9 flex flex-col gap-6">

    <!-- Banner Section -->
<!--    <div class="bg-blue-100 rounded-md flex items-center justify-center">-->
      <app-campaign-section></app-campaign-section>
    <app-best-deals-products></app-best-deals-products>
    <app-popular-products></app-popular-products>
<!--    <app-popular-categories></app-popular-categories>-->
<!--    <app-all-products></app-all-products>-->
<!--      <p class="text-xl text-blue-800 font-semibold">Campaign Banner</p>-->
<!--    </div>-->

    <!-- Optional: Product Grid or other content -->
    <!--
    <app-all-products></app-all-products>
    -->
  </div>
</div>




