<div class="all-brands-container">
  <div class="flex justify-between items-center mb-3">
    <h2 class="text-xl font-bold hidden md:block">All Brands</h2>
    <a class="reset-link cursor-pointer" (click)="onReset()">Reset</a>
  </div>
  <p-divider></p-divider>
  <ul class="brand-list">
    <li
      *ngFor="let brandName of brandNames"
      class="brand-item"
      (click)="toggleBrand(brandName.key)">
      <p-checkbox
        [inputId]="brandName.key"
        name="group"
        [value]="brandName.key"
        [(ngModel)]="selectedBrandNames"
        (click)="$event.stopPropagation()"
        (ngModelChange)="onBrandsModelChange($event)"
      />
      <label [for]="brandName.key" class="brand-name">{{ brandName.name }}</label>
    </li>
  </ul>
</div>
