.all-brands-container {
  height: 100%;

  .brand-list {
    list-style: none;
    margin: 0;
    padding: 0 0 24px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .brand-item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s ease;
  }

  .brand-name {
    color: #1B3B2F;
    cursor: pointer;
  }

  .reset-link {
    color: #7E7E7E;
    font-size: 14px;
  }

  @media (min-width: 1536px) {
    .brand-list {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      height: 50vh;
      overflow-y: auto;
    }
  }
}
