.all-brands-container {
  border: 1px solid #D7EBEB;
  height: 100%;
  position: relative;

  .brand-names {
    height: 80vh;
    overflow-y: scroll;
  }

  h2 {
    position: sticky;
    top: 0;
    background: #ffffff;
    z-index: 10;
  }

  .brand-name {
    color: #1B3B2F;
  }
}
