<div class="set-password-container">
  <div class="set-password-content">
    <h1>Set your new password</h1>

    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

      <!-- New Password -->
      <label for="newPassword">New Password</label>
      <p-password
        formControlName="newPassword"
        placeholder="Enter password"
        [feedback]="false"
        [toggleMask]="true"
        class="w-full"/>

      <div class="error" *ngIf="passwordForm.get('newPassword')?.touched && passwordForm.get('newPassword')?.invalid">
        Password must be at least 6 characters
      </div>



      <!-- Password -->
      <label for="confirmPassword">Confirm Password</label>
      <p-password
        formControlName="confirmPassword"
        placeholder="Enter password"
        [feedback]="false"
        [toggleMask]="true"
        class="w-full"/>

      <div class="error" *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.invalid">
        Password must be at least 6 characters
      </div>

      <!-- Login Button -->
      <button type="submit" class="login-btn">Save</button>
    </form>
  </div>
</div>
