.footer-container {
  background: #EAFAFA;
  padding-top: 40px;
}

.website_logo {
  width: 150px;
  height: auto;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

a {
  text-decoration: none;
  margin-bottom: 16px;
  color: #002D2C;
  font-size: 14px;
}

.image-icon {
  width: 18px;
}

.logo-icon {
  width: 28px;
  height: auto;
}

.copywrite-text{
  color: #8A8A8A;
  font-size: 14px;
}
