<div class="product-container grid grid-cols-12 gap-6 container mt-10">

  <div class="col-span-12 md:col-span-3 flex flex-col gap-2">
    <app-all-brands></app-all-brands>
    <app-new-products></app-new-products>
  </div>

  <!-- Right Content -->
  <div class="col-span-12 md:col-span-9 flex flex-col gap-6">
    <h1 class="text-2xl font-bold">All Products</h1>

    <div *ngIf="loading" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
      <p-skeleton *ngFor="let i of [1,2,3,4,5,6,7,8]" height="250px" borderRadius="12px"></p-skeleton>
    </div>

    <div *ngIf="!loading && products" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
      <div
        *ngFor="let product of products"
        class="bg-white border border-[#D7EBEB] rounded-lg p-4 relative">

        <div>
          <div
            class="bg-[#DFEEEE] rounded-lg overflow-hidden p-4 h-[150px] flex items-center justify-center bg-transparent">
            <img [src]="'data:image/png;base64,' + product.image" alt="{{product.name}}" class="h-full object-contain"/>
          </div>
          <div class="flex justify-between text-xs text-gray-400 mt-2 mb-1">
            <span>{{ product.brand }}</span>
            <span>{{ product.weightValue }} {{ product.weightUnit }}</span>
          </div>
        </div>

        <div class="mt-2">
          <p class="text-sm text-[#1b3b2f] font-medium leading-tight">
            {{ product.name }}
          </p>
        </div>

        <div class="mt-4 flex items-end justify-between">
          <div>
            <p class="text-sm text-gray-400 line-through" *ngIf="product.originalPrice !== product.discountedPrice">
              {{ product.originalPrice }}৳
            </p>
            <p class="text-xl font-bold text-[#1b3b2f] -mt-1">{{ product.discountedPrice }}৳</p>
          </div>

          <button class="flex items-center gap-2 text-sm bg-[#e6fbfb] hover:bg-[#d1f7f7]
        text-[#2F5249] font-medium py-1 px-3 rounded border border-[#bde5e5]">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
              <path
                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 7M7 13l-2 4m2-4l1.5 4M17 13l1.5 4m-1.5-4l2-4M9 21a1 1 0 100-2 1 1 0 000 2zm8 0a1 1 0 100-2 1 1 0 000 2z"/>
            </svg>
            Add
          </button>
        </div>
      </div>
    </div>

    <div
      *ngIf="!loading"
      class="pagination">
      <p-paginator
        [first]="first"
        [rows]="pageSize"
        [totalRecords]="totalRecords"
        (onPageChange)="onPageChange($event)"
      />
    </div>

    <div class="mt-20">
      <app-best-deals-products></app-best-deals-products>
    </div>
  </div>
</div>
